@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #ddd;
  color: #000;
  text-decoration: none;
}


.RunMeasurement fieldset {
	border: #333 1px solid;
	margin: 30px;
	padding: 15px;
}

.RunMeasurement fieldset legend {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
}

.RunMeasurement .row {
    line-height: 1.6em;
	margin: 1em;
}

.RunMeasurement .toggle-selects {
	text-align:center;
}

input, label {
    display:block;
}

.sb {
	text-align:center;
}

.errorborder {
	box-shadow: 3px 3px 8px #FF9A9A;
}

.description {
	font-size: 11px;
}

.inlinerow {
    display:inline;
	margin-left: 30px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}